In [9]:
import sqlite3
import pandas as pd

# Connect to SQLite DB
conn = sqlite3.connect("clickstream.db")

# Load cleaned CSV
df = pd.read_csv(
    r"C:\Users\sande\Desktop\HITESH PROJECT\data\clean_web_events.csv"
)

# Write to SQL table
df.to_sql("web_events", conn, if_exists="replace", index=False)




print("Data successfully loaded into SQLite database.")

Data successfully loaded into SQLite database.

In [10]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("clickstream.db")

orders_df = pd.read_csv(
    r"C:\Users\sande\Desktop\HITESH PROJECT\data\orders.csv"
)

orders_df.to_sql("orders", conn, if_exists="replace", index=False)

print("Orders table loaded successfully")

Orders table loaded successfully

In [11]:
pd.read_sql("SELECT * FROM web_events", conn)

,session_id,user_id,event,page,device,traffic_source,event_time
0,S1,U1,page_view,home,mobile,google,2024-01-01 10:01:00
1,S1,U1,page_view,product,mobile,google,2024-01-01 10:02:00
2,S1,U1,add_to_cart,cart,mobile,google,2024-01-01 10:03:00
3,S2,U2,page_view,home,desktop,facebook,2024-01-01 11:00:00
4,S2,U2,page_view,product,desktop,facebook,2024-01-01 11:02:00

In [12]:
pd.read_sql("""
SELECT COUNT(DISTINCT session_id) AS total_sessions
FROM web_events
""", conn)

   total_sessions
0               2

In [13]:
pd.read_sql("""
SELECT 
COUNT(DISTINCT o.session_id) * 1.0 /
COUNT(DISTINCT e.session_id) AS conversion_rate
FROM web_events e
LEFT JOIN orders o 
ON e.session_id = o.session_id
""", conn)

   conversion_rate
0              0.5

In [14]:
pd.read_sql("""
SELECT device, COUNT(DISTINCT session_id) AS sessions
FROM web_events
GROUP BY device
""", conn)

    device  sessions
0  desktop         1
1   mobile         1

In [16]:
conn.close()